<html>
<head>
<link rel="stylesheet" type="text/css" href="contacts.component.css">
<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

</head>
<body>
  <form>
			<div id="second"> 
				
        <h1>CONTACTS</h1>

        <table class="center">
						
          <tr>
            <th>ADMIN-1 email id </th>
            <td>admin1@gmail.com</td>
            <td>987654321</td>
          
          </tr>
          
          <tr>
            <th>ADMIN-2 email id</th>
            <td>admin2@gmail.com</td>
            <td>123456789</td>
          
          </tr>
        </table>



			</div>
  </form>
		
      
	</body>
</html>
