<html>
<head>
<link rel="stylesheet" type="text/css" href="admin.component.css">
<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

</head>
<body>
  <form>
<div id="second" class="example"> 
				
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <a class="button is-danger is-light">
          View registered students
        </a>
      </p>
    </div>

    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <a class="button is-danger is-light">
          Send mail
        </a>
      </p>
    </div>
        </div>
  </form>
</body>
