
<body>
<section class="hero is-danger is-bold">
   <div class="hero-body">
     <p class="title">
         Signup
     </p>
   </div>
 </section>
<section class="section">
    <div class="columns ">
       <div class="column is-4 is-offset-4">
          <form class="box">
          <div class="field">
             <label class="label">Full name</label>
             <div class="control">
                <input class="input" type="text" placeholder="enter your full name">
             </div>
          </div>
          <div class="field">
             <label class="label">Register No</label>
             <div class="control">
                <input class="input" type="number" placeholder="enter your register no">
             </div>
          </div>
          <div class="field">
             <label class="label">SSN email ID</label>
             <div class="control">
                <input class="input" type="email" placeholder="enter your SSN email ID">
                <i class="fa fa-envelope"></i>
             </div> 
          </div>
          <div class="field">
             <label class="label">Password</label>
             <div class="control">
                <input class="input" type="password" placeholder="enter a password of min 8 characters">
             </div>
          </div>
          <div class="field">
             <label class="label">Re-enter password</label>
             <div class="control">
                <input class="input" type="password" placeholder="re-enter your password">
                </div>
          </div>
          <div class="field">
            <label class="label">phone number</label>
            <div class="control">
               <input class="input" type="phone number" placeholder="enter your 10 digits nuumber">
               </div>
         </div>
         <div class="field">
            <label class="label">department</label>
            <div class="control">
               <input class="input" type="text" placeholder="select your department">
               </div>
         </div>
          <div class="field is-grouped">
             <div class="control"><a routerLink="/studhome">
                <button class="button is-link">Submit</button></a>
             </div>
          </div>
          </form>
       </div>
    </div>
 </section>
</body>