<!DOCTYPE html>
<html>
  <head>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="delete-event.component.css">
  </head>


<body>

<ul>
  <li><img src="C:\Users\Admin\Desktop\angular-tut\emfy\src\assets\cross (1) (1).jpg" ></li>
  <li><a class="active" href="#home">HOME</a></li>
  <li><a href="#EVENT">EVENT</a></li>
  <li><a href="#ATTENDANCE">ATTENDANCE</a></li>
  
</ul>
<form class="w3-container w3-card-4 w3-light-grey">
  <h2>EDIT EVENT</h2>

  <p><label>First Name</label>
  <input class="w3-input w3-border" name="first" type="text"></p>

  <p><label>EVENT ID</label>
  <input class="w3-input w3-border" name="last" type="text"></p>
  <p><label>DESCRIPTION</label>
    </p>
    <textarea name="paragraph_text" cols="165" rows="10"></textarea>
  
  <p><label>DURATION</label>
  <input class="w3-input w3-border" name="last" type="text"></p>
  <p><label>REGISTRATION DEADLINE</label>
  <input class="w3-input w3-border" name="last" type="text"></p>
  <p><label>DATE</label>
  <input class="w3-input w3-border" name="last" type="text"></p>
  <p><label>VENUE</label>
  <input class="w3-input w3-border" name="last" type="text"></p>
  <!--<input type="button" value="CREATE" >-->
  <button class="button button1">EXIT</button>
  <button class="button button1">DELETE</button>
  <button class="button button1">APPLY</button>
</form>

</body>
</html>
