<html>
    <head>
        <link rel="stylesheet" type="text/css" href="enrolled-student.component.css">


    </head>
<body>
  
    <nav class="navbar is-danger is-bold" id="mynav">
      <div class="navbar-brand">
          <img src="assets\ssn_logo.jpg" width="112" height="28">
        <div class="navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" routerLink="/studhome">
            Home
          </a>
            <a class="navbar-item" routerlink="/events">
              events
            </a>
              <a class="navbar-item" routerlink="/studattendence">attendence</a>
            </div>
          </div>
      <div class="navbar-end">
          <div class="navbar-item">
            <button class="button is-light" routerLink="/">Logout</button>
        </div>
        </div>
    </nav>
    <h1 style="text-align: center">STUDENTS ENROLLED TO YRC</h1>
    <body style="text-align:center">
    <div class="table-container">
   <table class="table">
      <thead>
          <tr>
              <th><abbr title="Serial number">S.no</abbr></th>
              <th><abbr title="Name">Name</abbr></th>
              <th><abbr title="Register number">Register no</abbr></th>
              <th><abbr title="Department">Dept</abbr></th>
              <th><abbr title="Year">Year</abbr></th>
              <th><abbr title="Email">Email</abbr></th>
          </tr>
      </thead>
      <tbody>
          <td>1</td>
          <td>Bhagya</td>
          <td>195002037</td>
          <td>IT</td>
          <td>3rd</td>
          <td>bhagya@gmail.com</td>
      </tbody>
   </table>
   </div>
   </body>
  
  
        <div class="hero-body " id="myhero">
          <p class="title is-size-1">
            About us
          </p>
          <p class="subtitle is-size-4">
              The Red Cross Youth is one of the six major services of the Philippine Red Cross. Its mission is to educate and empower the children and youth in the spirit of Red Cross through constructive trainings and effective leadership, and provide opportunities for directing and harnessing their energy and idealism into worthwhile humanitarian activities.When the Philippine Branch became a Chapter of the American Red Cross on December 4, 1917, it included the Junior Red Cross (JRC) among its activities. The Director of Education who was elected chairman of the JRC, directed the work of 6,000 children in JRC in the schools of Manila. JRC activities included the sewing of comfort articles and making surgical dressings for soldiers at war and planting vegetables in school gardens.
  
              From 1922 until the outbreak of World War II in 1941, the JRC dental service became the major program with school children contributing 30 centavos each as their annual membership fee and in return they received an American JRC pin. By 1941, there were 184 dental clinics all over the country. A total of 898,333 children were inspected, 495,086 of which had defective teeth and 108,035 given treatment.
              
              In October 1946, the JRC dental service was formally turned over to the government. From then on, it has become an integral part of child health in the Philippines.
              
              After the liberation, the first JRC enrollment campaign under the new Philippine Republic was conducted in October 1946. Enrollment of elementary school children in the JRC was on a group basis. Schools join by class or section with a membership fee of PHP2.00 per class.
              
              In 1948, the Philippine Junior Red Cross Magazine was published with Mrs. Loreto Paras-Sulit as Editor and at the same time Director of the Junior Red Cross. Activities carried out in schools were along the lines of health, service, and international friendship. The decade of 1961-1970 recorded an increase in the JRC enrollment from 3 to 4 million members from 12,000 public and private elementary and secondary schools.
              
              The adoption of the program for college students on January 28, 1969 solved the problem of young people who would want to continue serving through the Red Cross after graduation from high school. It aimed at developing the spirit of humanitarianism and social service through active and direct involvement in Red Cross activities.
              
              Another new important program which was approved by the Board to include not only school children but also young people both in and out of school until 25 years of age. The change in name of the program from Junior Red Cross (JRC) to Red Cross Youth (RCY) was approved by the Board on March 31, 1970.
              
              From December 28 to 30, 1974, the 1st National Red Cross Youth Congress was held at the Hall of Mercy of the PNRC Manila Chapter Building with the Theme: "Voluntarism: A Force in Nation Building." The Congress elected Mr. Ruben C. Angeles of Zamboanga City as the 1st National Red Cross Youth Council President. It was not until November 1998 that the NYC President was seated as a Member of the Board of Governors, the highest decision-making body of the Philippine National Red Cross, having then NYC President Crescente Abragan, representing the Red Cross Youth in the Board. Soon after, the Board approved having elected Chapter Youth Council Presidents seated as a mandated member of the Chapter Board of Directors, thereby representing the interest of the youth in the local level.
          </p>
        </div>

        </body>
        </html>